UseColor: true

Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-type-vararg,
    google-*,
    performance-*,

WarningsAsErrors: "*"